@import url(abstracts/colors.css);
body{
    overflow-x: hidden;
    font-family: "Arial";
}

/* Buttons*/

.btn-outline-green{
    border: 1px solid var(--green)!important;
    color: var(--green);
    transition: all 500ms linear;

}

.btn-outline-green:hover{
    background-color: var(--green)!important;
    color: white;
}

/* SCROLL BUTTON*/
.scrollToTop {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */

    left: 50%;
    bottom: 5%;
    transform: translate(-50%, -50%);


    z-index: 99; /* Make sure it does not overlap */
    border: solid transparent 1px; /* Remove borders */
    border-radius: 100%; /* Rounded corners */
    height: 50px;
    width: 100px;
    background-color: transparent;
    color: var(--green); /* Text color */
    font-size: 80px; /* Increase font size *
    transition: all 500ms linear;

}

.scrollToTop:hover {
    font-size: 90px; /* Increase font size */

}

footer{
    box-shadow: 0px -12px 50px -7px rgba(0,0,0,0.025);
}
/* TITLES*/


h2{
    color: var(--xs-black);
    font-size: 1.5em;
    font-weight: bold;
    font-family:"Trebuchet MS";
    letter-spacing: .5px;

}

h3{
    font-weight: bold;
    font-family:"Trebuchet MS";
    font-size: 5em;
    text-transform: uppercase;
}

h4{
    color: black;
    font-weight: bold;
    font-size: 4em;
}


h5{
    font-weight: bold;
    font-size: 1.5em;
}

h6{
    text-transform: uppercase;

    font-weight: bolder;
    font-size: 1.15em;
    letter-spacing: 2px;
}
h7{
    font-family: Tahoma;
    font-stretch: expanded!important;
    line-height: .10em;
    color: var(--green);
    font-size: 2em;
    font-weight: bold;
}


h8{
    font-weight: bold;
    font-size: 1.5em;
}


h9{
    font-size: 1.25em;
}

/* TEXT */

.list{
    font-weight: bold;
}

#uhm .list{
    color: rgb(var(--uhm-primary));
}

p,li{
    letter-spacing: .4px;
    font-size: 1.2em;
    color: var(--md-gray);

}

p a{
    color: var(--md-gray);
    transition: all 1s linear;
    border-bottom: solid transparent 1px;
}

p a:hover{
    color: var(--green);
    text-decoration: none;
    border-bottom: solid var(--green) 1px;
}

 a> i:hover {
    color: var(--green) !important;
}

.navbar-brand{
    font-size: 30px;
    font-weight: bolder;
    letter-spacing: -1px;
}

/* TEXT COLORS */
.text-green{
    color: var(--green) !important;
}
.text-gray{
    color: var(--gray) !important;
}

.text-md-black{
    color: var(--md-black) !important;
}

.navbar img{
    width: 75px;
    height: auto;
}
/* IMAGES*/


.rounded{
    border-radius: 15px!important;
}


/* CONTAINERS*/

.preview {
    position: relative;
    width: 100%;
    display: block;
    cursor: pointer;
    overflow: hidden;
}
.content {
    border-radius: 15px;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: all 400ms ease-out;
    -moz-transition: all 400ms ease-out;
    -o-transition: all 400ms ease-out;
    -ms-transition: all 400ms ease-out;
    transition: all 400ms ease-out;
    text-align: center;
}
.preview .content:hover {
    opacity: 1;
}



/* POSITION */

.absolute-center {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

}


@media (min-width: 993px) {
    .p-6{
        padding: 0em 10em 0em 10em;
    }

}

@media (max-width: 992px) {
    .p-6{
        padding: 0em 6em 0em 6em;
    }

}
@media (max-width: 768px) {
    .p-6{
        padding: 0em 0em 0em 0em;
    }

}

section{
padding-top: 5em;
    padding-bottom: 5em;

}

.img-max-750 {
    max-width: 750px!important;
    width:100%!important;
}

.bg-gray{
 background-color: rgba(var(--gray-rgb),.15);
}

.center-middle {
    display: flex;
    align-items: center;
    justify-content: center;
}

#cinematik i{
    color: var(--cinematik-secondary);
}
#uhm i{
    color: rgba(var(--uhm-primary));
}

.tab { margin-left: 40px; }

.img-mobile{
    max-width: 300px;
    height: auto;
    width: 100%;
}
