@import url(abstracts/colors.css);
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');
body{
    overflow-x: hidden;
    font-family: 'Noto Sans JP', sans-serif;
}

/* Buttons*/


.btn-outline-green{
    border-color: var(--green);
    color: var(--green);
    transition: all 500ms linear;

}

.btn-outline-green:hover{
    background-color: var(--green);
    color: white;
}

/* SCROLL BUTTON*/
.scrollToTop {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 75px; /* Place the button at the bottom of the page */
    right: 50%;
    z-index: 99; /* Make sure it does not overlap */
    border: solid transparent 1px; /* Remove borders */
    border-radius: 100%; /* Rounded corners */
    height: 50px;
    width: 50px;
    background-color: transparent;
    color: var(--green); /* Text color */
    font-size: 80px; /* Increase font size */
    transition: all 500ms linear;

}

.scrollToTop:hover {
    font-size: 90px; /* Increase font size */

}

/* TITLES*/

h2{
    text-transform: uppercase;
    font-size: 20px;
    font-family: 'Trebuchet MS';
    text-transform: uppercase;

}

h3{
    font-weight: bold;
    font-family:"Trebuchet MS";
    font-size: 5em;
    text-transform: uppercase;
}

h4{
    color: black;
    font-weight: bold;
    font-size: 4em;
}


h5{
    font-weight: bold;
    font-size: 1.5em;
}

h6{
    text-transform: uppercase;

    font-weight: bolder;
    font-size: 1.15em;
    letter-spacing: 2px;
}
h7{
    font-family: Tahoma;
    font-stretch: expanded!important;
    line-height: .10em;
    color: var(--green);
    font-size: 2em;
    font-weight: bold;
}


h8{
    font-weight: bold;
    font-size: 1.5em;
}


h9{
    font-size: 1.25em;
}

/* TEXT */
p{
    letter-spacing: .4px;
    font-size: 1em;
}

p a{
    color: var(--md-gray);
    transition: all 1s linear;
    border-bottom: solid transparent 1px;
}

p a:hover{
    color: var(--green);
    text-decoration: none;
    border-bottom: solid var(--green) 1px;
}

 a> i:hover {
    color: var(--green) !important;
}

.navbar-brand{
    font-size: 30px;
    font-weight: bolder;
    letter-spacing: -1px;
}

/* TEXT COLORS */
.text-green{
    color: var(--green) !important;
}
.text-gray{
    color: var(--gray) !important;
}

.text-md-black{
    color: var(--md-black) !important;
}


/* IMAGES*/


img{
    border-radius: 15px;
}


/* CONTAINERS*/

.preview {
    position: relative;
    width: 100%;
    display: block;
    cursor: pointer;
    overflow: hidden;
}
.content {
    border-radius: 15px;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: all 400ms ease-out;
    -moz-transition: all 400ms ease-out;
    -o-transition: all 400ms ease-out;
    -ms-transition: all 400ms ease-out;
    transition: all 400ms ease-out;
    text-align: center;
}
.preview .content:hover {
    opacity: 1;
}



/* POSITION */

.absolute-center {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

}
